.demo-container {
  margin: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

/* NB. "uemd" is shorthand for "us-election-mini-dashboard" while in development */

.uemd {
  box-sizing: border-box;
}

.uemd * {
  font: 16px MetricWeb, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.uemd__panel-content {
  height: 90px;
  overflow: hidden;
}

.uemd__chart-house,
.uemd__chart-president.final,
.uemd__chart-senate {
  position: relative;
  padding-top: .5em;
}

.uemd__chart-president {
  position: relative;
  padding-top: 1.6em;
}

.uemd__chart-house--bar-container,
.uemd__chart-president--bar-container,
.uemd__chart-senate--bar-container {
  width: 100%;
  height: 2em;
}

.uemd__chart-house--bar-container,
.uemd__chart-president--bar-container {
  background: #5C5C5C;
}

.uemd__chart-president--best-guess .uemd__chart-president--bar-container {
  height: .5em;
  margin-top: 0.25em;
}

.uemd__chart-house--bar-container.dem,
.uemd__chart-president--bar-container.dem,
.uemd__chart-senate--bar-container.dem {
  float: left;
  border-right: 1px solid white;
}

.uemd__chart-house--bar-container.rep,
.uemd__chart-president--bar-container.rep,
.uemd__chart-senate--bar-container.rep {
  float: right;
  text-align:right;
}

.uemd__chart-house--bar-fill,
.uemd__chart-president--bar-fill,
.uemd__chart-senate--bar-fill {
  padding: 0;
  height: 2em;
  line-height: 2em;
  white-space: nowrap;
}

.uemd__chart-president--best-guess .uemd__chart-president--bar-fill {
  height: .5em;
}

.uemd__chart-house--bar-fill.dem,
.uemd__chart-president--bar-fill.dem,
.uemd__chart-senate--bar-fill.dem {
  background-color: #0094CB;
  float: left;
  text-align: left;
}

.uemd__chart-house--bar-fill.rep,
.uemd__chart-president--bar-fill.rep,
.uemd__chart-senate--bar-fill.rep {
  background-color: #F12C49;
  float: right;
  text-align: right;
}

.uemd__chart-senate--bar-fill.ind {
  background-color: #9A9A9A;
  float: left;
  padding: 0;
}

.uemd__chart-president--bar-labels,
.uemd__chart-house--bar-labels,
.uemd__chart-senate--bar-labels {
  width: 100%;
  position: absolute;
}

.uemd__chart-president--bar-label,
.uemd__chart-house--bar-label,
.uemd__chart-senate--bar-label {
  width: 50%;
  float: left;
  padding: 0 0.5em;
  height: 2em;
  line-height: 2em;
}

.uemd__chart-president--bar-label:nth-child(2),
.uemd__chart-house--bar-label:nth-child(2),
.uemd__chart-senate--bar-label:nth-child(2) {
  text-align: right;
}

/**
<!-- The below base64 pattern fills -->
<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'>
  <rect width='10' height='10' fill='#333333'/>
  <path d='M-1,1 l2,-2
           M0,10 l10,-10
           M9,11 l2,-2' stroke='#0094CB' stroke-width='1'/>
</svg>

<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'>
  <rect width='10' height='10' fill='#333333'/>
  <path d='M-1,1 l2,-2
           M0,10 l10,-10
           M9,11 l2,-2' stroke='#F12C49' stroke-width='1'/>
</svg>
**/


.uemd__chart-senate--bar-fill.dem-contested {
  float: left;
  padding: 0;
}

.uemd__chart-senate--bar-fill.rep-contested {
  float: right;
  padding: 0;
}

.uemd__chart-senate--legend {
  line-height: 24px;
  height: 20px;
  font-size: 0.75em;
}

.uemd__chart-senate--legend > div {
  height: 16px;
  width: 32px;
  float: left;
  margin-right: 0.25em;
  margin-top: 4px;
}

.dem-contested {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjMzQzMzMzJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nIzAwOTRDQicgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==");
  border: 1px solid #0094CB;
  float: left;
}

.rep-contested {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjMzQzMzMzJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI0YxMkM0OScgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==");
  border: 1px solid #F12C49;
}


/**

  <!-- SVG from base64 string below: -->

<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10">
  <path fill="transparent" d="M0 0h10v10H0z"/>
  <path d="M-1 1l2-2M0 10L10 0M9 11l2-2" stroke="#333333" stroke-width="3"/>
</svg>
**/

.uemd__chart-president--best-guess .uemd__chart-president--bar-fill {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCI+PHBhdGggZmlsbD0idHJhbnNwYXJlbnQiIGQ9Ik0wIDBoMTB2MTBIMHoiLz48cGF0aCBkPSJNLTEgMWwyLTJNMCAxMEwxMCAwTTkgMTFsMi0yIiBzdHJva2U9IiMzMzMzMzMiIHN0cm9rZS13aWR0aD0iMyIvPjwvc3ZnPg==");
}

.uemd__chart-president--best-guess .uemd__chart-president--bar-fill.dem {
  border: 1px solid #0094CB;
}

.uemd__chart-president--best-guess .uemd__chart-president--bar-fill.rep {
  border: 1px solid #F12C49;
}

.uemd__chart-house--bar-fill strong,
.uemd__chart-president--bar-fill strong,
.uemd__chart-senate--bar-fill strong {
  font-weight: bold;
}

.uemd__chart-house--majority-label,
.uemd__chart-president--to-win-label,
.uemd__chart-senate--majority-label {
  text-align: center;
  color: #eee;
  height: 75px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  font-size: 0.85em;
}

.uemd__chart-house--majority-label hr,
.uemd__chart-president--to-win-label hr,
.uemd__chart-senate--majority-label hr {
  margin: 0 auto;
  border-color: #CDCDCD
}

.uemd__chart-president--triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #CDCDCD transparent transparent transparent;
  margin: 0 auto;
}

.uemd__chart-president--footnote,
.uemd__chart-house--footnote,
.uemd__chart-senate--footnote {
  font-size: 0.75em;
  text-align: right;
  color: #ddd;
}

.final .uemd__chart-president--footnote{
  line-height: 2.5em;
}
